{{define "title"}}Add Anime to List {{end}}
{{define "completed"}} "completed" {{end}}
{{define "watching"}} "watching" {{end}}
{{define "main"}}
<form action='/anime/create' method='POST'>
<div>
<label>Title:</label>
<!-- Use the `with` action to render the value of .Form.FieldErrors.title
if it is not empty. -->
{{with .Form.FieldErrors.title}}
<label class='error'>{{.}}</label>
{{end}}
<!-- Re-populate the title data by setting the `value` attribute. -->
<input type='text' name='title' value='{{.Form.Title}}'>
</div>
<div>
<label>Status:</label>
<!-- And render the value of .Form.FieldErrors.expires if it is not empty. -->
{{with .Form.FieldErrors.status}}
<label class='error'>{{.}}</label>
{{end}}
<!-- Here we use the `if` action to check if the value of the re-populated
expires field equals 365. If it does, then we render the `checked`
attribute so that the radio input is re-selected. -->
<input type='radio' name='status' value='completed'> completed
<!-- And we do the same for the other possible values too... -->
<input type='radio' name='status' value='watching' > watching
</div>
<div>
<input type='submit' value='Add Anime'>
</div>
</form>
{{end}}